<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'keyword' }) %>
  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container keyword_wrap">
      <div class="content">
        <h3 class="sub_title">
          <span>
            <% if (todos.length > 0 && todos[0].keyword) { %> <%=
            todos[0].keyword.keyword %> <% } else { %> 키워드 할 일 <% } %>
          </span>
        </h3>
        <div class="card-container add">
          <% if (todos && todos.length > 0) { %> <% todos.forEach((todo) => { %>
          <div class="card">
            <div class="card-title"><%= todo.title %></div>
            <% if (todo.todo_contents && todo.todo_contents.length > 0) { %>
            <ul class="todo-list">
              <% todo.todo_contents.forEach((content) => { %>
              <li class="<%= content.state ? 'completed' : '' %>">
                <%= content.content %>
              </li>
              <% }); %>
            </ul>
            <% } %>
          </div>
          <% }); %> <% } else { %>
          <div class="no-todos">이 키워드에 해당하는 할 일이 없습니다.</div>
          <% } %>
        </div>
      </div>
    </main>

    <%- include('include/popup') %>
  </body>
</html>
