<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'profile_setting' })%>

  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container">
      <div class="content">
        <h3 class="sub_title"><span>프로필 설정</span></h3>
        <div class="main-container">
          <h4 class="mb20">개인정보 또는 프로필사진을 변경합니다.</h4>

          <div class="allBox add">
            <h3>내 프로필</h3>
            <hr />
            <h4>프로필 사진</h4>
            <div class="profileImg">
              <img
                src="<%= locals.profile_img ? '/static/uploads/' + locals.profile_img : '/static/img/26139_img.png' %>"
                class="profile-img"
                id="profile-img"
                width="200"
                height="200"
              />
            </div>
            <div class="dynamic">
              <form
                id="upload-form"
                enctype="multipart/form-data"
                method="POST"
              >
                <input
                  type="file"
                  name="dynamic-file"
                  id="dynamic-file"
                  style="display: none"
                  onchange="uploadPhoto()"
                />
                <button
                  type="button"
                  onclick="fileUpload(event)"
                  id="upload-btn"
                  class="btn"
                  style="margin-top: 10px"
                >
                  파일 업로드
                </button>
              </form>
            </div>

            <hr />

            <h4>닉네임</h4>
            <form name="nicknameForm" id="nicknameForm">
              <input
                type="text"
                id="nickname"
                value="<%=locals.nickname%>"
                style="width: calc(100% - 87px)"
              /><br />
              <button
                type="button"
                onclick="profileUpdate(event)"
                id="update-btn"
                class="btn set-profile-btn"
              >
                프로필 변경
              </button>
            </form>
          </div>
          <div class="accountbox">
            <div class="allBox add">
              <h3>내 계정</h3>
              <hr />
              <h4>이메일</h4>
              <input type="email" id="email" value="<%= email%>" readonly />

              <hr />
              <div class="deletebox" onclick="getChangePwPage()">
                <h4>비밀번호 변경</h4>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <hr />
              <div class="deletebox" onclick="getDeletePage()">
                <h4>회원 탈퇴</h4>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <!-- <a href="/user/reset-pw">비밀번호 변경</a>
              <a href="/user/delete-account">회원 탈퇴</a> -->
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('include/popup') %>

    <script>
      /* 지원 ------------------------ */

      // profile-setting의 js
      function getChangePwPage() {
        document.location.href = '/user/reset-pw';
      }

      function getDeletePage() {
        document.location.href = '/user/delete-account';
      }

      function fileUpload(event) {
        event.preventDefault();
        const fileInput = document.getElementById('dynamic-file');
        fileInput.click();
      }

      let uploadedFile = null;
      // 파일 선택 후 미리보기
      function uploadPhoto() {
        const fileInput = document.getElementById('dynamic-file');
        const formData = new FormData();
        formData.append('dynamic-file', fileInput.files[0]); // "key",value

        axios({
          method: 'post',
          url: '/user/api/photo-upload',
          data: formData,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
          .then((res) => {
            // console.log(res.data.photo);
            // console.log(fileInput);
            uploadedFile = res.data.photo;
            // console.log(uploadedFile);
            const imgFile = document.getElementById('profile-img');
            imgFile.src = `/uploads/${uploadedFile}`;
            alert('프로필 사진이 업로드 되었습니다!');
          })
          .catch((err) => {
            console.error('파일업로드 error!: ', err);
            alert('사진 업로드 실패');
          });
      }

      // '프로필변경'버튼을 통해 닉네임과 파일을 서버로 전송
      async function profileUpdate(event) {
        event.preventDefault();

        const nickname = document.getElementById('nickname').value;
        console.log(uploadedFile);
        // axios 데이터 전송
        await axios({
          method: 'patch',
          url: '/user/api/profile',
          data: {
            nickname,
            photo: uploadedFile,
          },
        })
          .then((response) => {
            // 성공적인 업데이트 후 처리
            alert('프로필이 업데이트되었습니다.');
            location.reload();
          })
          .catch((error) => {
            console.error(error);
            alert('프로필 업데이트 실패');
          });
      }

      /* ------------------------ 지원 */
    </script>
  </body>
</html>
