<head>
  <script
    defer
    src="https://kit.fontawesome.com/1a37f47d3b.js"
    crossorigin="anonymous"
  ></script>
</head>

<div class="sidebar">
  <a href="/todo/dashboard"
    ><img
      src="/static/img/home.png"
      alt="홈으로 가기"
      width="18px"
      height="18px"
    />Todo Checkk</a
  >
  <button type="button" class="navi_close">네비</button>
  <div class="profile">
    <img
      src="<%= locals.profile_img ? '/static/uploads/' + locals.profile_img : '/static/img/default.jpg' %>"
      class="profile-img"
      width="100"
      height="100"
    />
    <p><b><%=locals.nickname%></b> 님 환영합니다!</p>
    <div class="navi logoutBtn">
      <a href="/user/profile"><i class="fa-solid fa-gear"></i> 프로필 설정</a>
      <a href="/" onclick="logoutBtn(event)"
        ><i class="fa-solid fa-right-from-bracket"></i> logout</a
      >
    </div>
  </div>
  <div class="naviBar">
    <div class="search-container">
      <input type="search" id="search-comment" placeholder="search.." />
      <button type="button" id="nav-search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <p>TODO리스트</p>
    <a href="/todo/calendar"
      ><i class="fa-regular fa-calendar-check"></i> 캘린더</a
    ><br />
    <a href="/todo/api/deleted-todo"
      ><i class="fa-solid fa-trash"></i> 휴지통</a
    >

    <div class="displaybox">
      <button class="btn btn-dark" id="theme-toggle">
        <i class="fa-regular fa-moon"></i> 다크모드
      </button>
    </div>
  </div>
  <div class="keyBar">
    <div class="keybarTitle">
      <h3>키워드</h3>
      <button type="button" class="plusKeywordBtn">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="newkeyTitle-none" id="newKeyTitle">
      <input
        type="text"
        id="new-keyword-input"
        class="newKeywordInput"
        placeholder="추가할 키워드를 입력하세요"
      />
      <button type="button" class="newkeyTitle-btn">
        <i class="fa-regular fa-square-plus" style="font-size: 20px"></i>
      </button>
    </div>
    <ul id="keyul">
      <% for (let i = 0; i < locals.keywords.length; i++) { %>
      <li>
        <div class="keybarDiv">
          <a href="/todo/api/keyword/<%= locals.keywords[i].id %>">
            <i class="fa-solid fa-hashtag"></i> <%= locals.keywords[i].keyword
            %>
          </a>
          <button type="button" class="minusKeywordBtn">
            <i class="fa-solid fa-minus"></i>
          </button>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
  <button type="button" class="pop_btn">할일 등록하기</button>
</div>

<script>
  const themeToggle = document.getElementById('theme-toggle');
  const sidebar = document.querySelector('.sidebar');
  const body = document.body;

  document.addEventListener('DOMContentLoaded', () => {
    const isDarkMode = localStorage.getItem('dark-mode') === 'true';
    sidebar.classList.toggle('dark-mode', isDarkMode);
    if (isDarkMode) {
      body.classList.add('dark-mode');
      themeToggle.innerHTML = `<i class="fa-regular fa-sun"></i> 라이트모드`;
      themeToggle.classList.remove('btn-light');
      themeToggle.classList.add('btn-dark');
    }

    const searchInput = document.getElementById('search-comment');
    const searchBtn = document.getElementById('nav-search-btn');

    function performSearch() {
      const query = searchInput.value.trim();
      if (query) {
        window.location.href = `/todo/search?query=${encodeURIComponent(
          query,
        )}`;
      } else {
        alert('검색어를 입력해주세요.');
      }
    }

    searchBtn && searchBtn.addEventListener('click', performSearch);

    searchInput &&
      searchInput.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
          e.preventDefault();
          performSearch();
        }
      });
  });

  themeToggle.addEventListener('click', () => {
    const isDarkMode = document.body.classList.toggle('dark-mode');
    sidebar.classList.toggle('dark-mode', isDarkMode);
    localStorage.setItem('dark-mode', isDarkMode);
    if (isDarkMode) {
      themeToggle.innerHTML = `<i class="fa-regular fa-sun"></i> 라이트모드`;
      themeToggle.classList.remove('btn-light');
      themeToggle.classList.add('btn-dark');
    } else {
      themeToggle.innerHTML = `<i class="fa-regular fa-moon"></i> 다크모드`;
      themeToggle.classList.remove('btn-dark');
      themeToggle.classList.add('btn-light');
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const naviBtn = document.createElement('button');
    const naviContainer = document.querySelector('main.container');
    naviBtn.classList.add('navi_btn');
    naviBtn.innerText = 'MENU';
    naviContainer.prepend(naviBtn);

    const nav = document.querySelector('.nav');
    const naviClose = document.querySelector('.navi_close');
    naviBtn.addEventListener('click', () => {
      nav.classList.add('on');
      document.querySelector('body').classList.add('pop_open');
    });
    naviClose.addEventListener('click', () => {
      nav.classList.remove('on');
      document.querySelector('body').classList.remove('pop_open');
    });
  });

  document
    .querySelector('.plusKeywordBtn')
    .addEventListener('click', function () {
      const newKeywordInput = document.getElementById('new-keyword-input');
      const newKeyTitle = document.getElementById('newKeyTitle');

      if (!newKeyTitle.classList.contains('newkeyTitle-none')) {
        alert('이미 입력창이 활성화되어 있습니다.');
        return;
      }

      newKeyTitle.classList.remove('newkeyTitle-none');
      newKeyTitle.classList.add('newkeyTitle');

      const addKeyword = () => {
        const inputValue = newKeywordInput.value.trim();
        if (!inputValue) {
          alert('키워드를 입력해주세요.');
          return;
        }

        const ul = document.getElementById('keyul');
        const existingKeywords = Array.from(ul.querySelectorAll('a')).map((a) =>
          a.textContent.trim(),
        );

        if (existingKeywords.includes(inputValue)) {
          alert('이미 존재하는 키워드입니다.');
          return;
        }

        const userId = `<%= locals.userId %>`;

        axios
          .post('/keyword/api/create', {
            user_id: userId,
            keyword: inputValue,
          })
          .then((response) => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = `/todo/api/keyword?keyword=${encodeURIComponent(
              inputValue,
            )}`;
            a.innerHTML = `<i class="fa-solid fa-hashtag"></i> ${inputValue}`;
            li.appendChild(a);
            ul.appendChild(li);

            alert('키워드가 성공적으로 추가되었습니다!');

            newKeywordInput.value = '';
            newKeyTitle.classList.remove('newkeyTitle');
            newKeyTitle.classList.add('newkeyTitle-none');

            window.location.reload();
          })
          .catch((error) => {
            console.error('키워드 추가 오류:', error);
            alert('키워드 추가에 실패했습니다. 다시 시도해주세요.');
          });
      };

      document.querySelector('.newkeyTitle-btn').onclick = addKeyword;

      newKeywordInput.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          addKeyword();
        }
      });
    });

  document.querySelectorAll('.minusKeywordBtn').forEach((button) => {
    button.addEventListener('click', function () {
      const keybarDiv = this.closest('.keybarDiv');
      const keywordId = keybarDiv.querySelector('a').href.split('/').pop();

      if (!keywordId) {
        alert('키워드 ID를 찾을 수 없습니다.');
        return;
      }
      const confirmDelete = confirm('정말 이 키워드를 삭제하시겠습니까?');
      if (!confirmDelete) return;
      axios({
        method: 'delete',
        url: '/keyword/api/delete',
        data: { id: keywordId },
      })
        .then((response) => {
          console.log(response.data.message);
          alert('키워드가 삭제되었습니다.');

          keybarDiv.remove();
        })
        .catch((error) => {
          console.error('키워드 삭제 오류:', error);
          alert('키워드 삭제에 실패했습니다.');
        });
    });
  });

  function logoutBtn(event) {
    event.preventDefault();

    localStorage.removeItem('token');
    localStorage.removeItem('nickname');

    axios
      .post('/user/api/logout')
      .then((response) => {
        window.location.href = '/';
      })
      .catch((error) => {
        console.error('로그아웃 중 오류가 발생했습니다.', error);
      });
  }
</script>
